<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/index/css/public.css">
    <link rel="stylesheet" href="/index/css/nav.css">
    <link rel="stylesheet" href="/index/css/font.css">
    <link rel="stylesheet" href="/index/css/footer.css">
    <link rel="stylesheet" href="/index/css/cooper.css">
</head>
<body>
<div id="page" style="background:#f2f2f2"></div>
</body>
<script src="/index/js/cooper.js"></script>
</html>