/*头部开始*/
.banner_g{
    width: 100%;
    height: 598px;
}
.banner_gzl{
    width: 100%;
    height: 598px;
    background: url(/index/images/g_09.png) no-repeat center center;
    background-size:cover ;
}
.bin_topbox{
    width:100%;
    height:80px;
}
.bin_top{
    width:1200px;
    height:80px;
    margin:0 auto;
}
.bin_btnbox{
    float: right;
    width:auto;
    height:100%;
    position: relative;
}
.bin_btn{
    height:80px;
    width:84px;
    margin-left:100px;
    float: right;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    position: relative;
    cursor: pointer;
    color:#fff;
    font-family: "fangke";
}
.bin_btnline{
    height:80px;
    width:84px;
    position: absolute;
    top:0;
}
.bin_line{
    width:84px;
    height:12px;
    position: absolute;
    bottom: 12px;
    left:6px;
    transition: all .4s ease;
    background:  url(/index/images/bin_tline.png);
    opacity:0;
}
.bin_line2{
    width:0;
}
/*头部结束*/


body{
    background: #e8e8e8;

}
.Cic{
    width: 100%;
    height: 596px;
}
.g_Cics{
    bottom: 30px;
    width: 1200px;
    height:auto;
    margin:-30px auto;
    background: #ffffff;
    padding-bottom:140px;
    box-shadow:0 10px 20px #b6b6b6;
}
.g_xian{
    width: 100%;
    height: 9px;
    background: #ff3333;
}
.g_mbx{
    height: 15px;
    font-family: "宋体";
    font-size: 12px;
    margin-top: 49px;
    padding-left: 42px;
    line-height: 15px;
}
.g_mbx span{
    float: left;
}
.g_mbx a:hover{
    color:#ff3333;
}
.g_mbx p{
    width: 21px;
    height: 14px;
    background: url(/index/images/g_001.png) no-repeat 0 0;
    float: left;
}
.g_mbx .g_blod{
    float: left;
    font-family: "苹方";
    font-size: 14px;
    font-weight: bolder;
}
.g_top{
    width: 329px;
    height: 115px;
    margin: 78px auto;
    background: url(/index/images/g_002.png) no-repeat 0 0;
}
.g_tiger{
    width: 932px;
    height:41px;
    background: url(/index/images/g_003.png) no-repeat 0 0;
    margin: auto;
}
.g_boxbox{
    width: 932px;
    height: 923px;
    margin: auto;
}
.g_titles_one{
    width: 932px;
    height: 458px;
    margin: 56px auto;
}
.g_top_title{
    width: 100%;
    height: 13px;
    line-height: 16px;
    text-align: center;
    padding-top: 3px;
}
.g_book{
    font-family: "微软雅黑";
    float: left;
    margin-left: 22px;
    line-height: 10px;

}
.g_usa{
    text-align: center;
    font-family: "微软雅黑";
    margin-top: 13px;
    color: #c3c3c3;
}
.g_wenzi{
    width: 100%;
    height:42px;
    margin-top: 22px;
}
.g_wenzi p{
    display: block;
    text-align: center;
    line-height: 1.5em;
    font-family: "微软雅黑";
    font-size: 12px;
}
.g_wenzi .g_title_two{
     margin-top: 36px;
 }
.g_wenzi .g_title_usas{
    margin-top: 36px;
    font-family: "HelveticaNeueLT Pro 35 Th";
    font-size: 12px;
}
.g_imgs{
    width: 931px;
    height: 392px;
    margin: auto;
}

.bin_footerbox {
    height: auto;
    width: 100%;
    background: #262626;
}

.bin_footer {
    height: auto;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

.bin_back {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: url(/index/images/bin_back_w.png);
    cursor: pointer;
    position: absolute;
    top: -52px;
    margin: auto;
    left: 0;
    right: 0;
    transition:all .4s ease;
}

.bin_back:hover {
    background: url(/index/images/bin_back_r.png);
    transition:all .4s ease;
}
.bin_footerbottom{
    width:100%;
    height:70px;
    background:#191919;
    margin:0 auto;
    color:#7d7d7d;
    text-align: center;
    font-size: 14px;
    line-height: 70px;
}
.bin_contact{
    width:100%;
    height:200px;
}
.bin_conleft{
    width:450px;
    height:100%;
    position: relative;
    float: left;
}
.bin_contitlebox{
    width:100%;
    height:26px;
    margin-top:8px;
    float: left;
}
.bin_contitle{
    width:106px;
    height:26px;
    margin:0 0 0 6px;
    font-size: 20px;
    color:#fff;
    line-height: 26px;
    font-family: "宋体";
    border-bottom: 1px solid #fff;
    position: relative;
}
.bin_contitle img{
    position: absolute;
    right:-20px;
}
.bin_name{
    width:210px;
    height:28px;
    color:#7d7d7d;
    margin:24px 0 0 6px;
    line-height: 28px;
    font-family: "times";
    border-bottom:1px solid #7d7d7d;
    float: left;
}
.bin_conimg{
    margin-left:4px;
}
.bin_input{
    width:130px;
    height:14px;
    display: inline-block;
    margin-left:8px;
    background: none;
    border:none;
    outline:none;
    color:#d7d7d7;
    font-family: "宋体";
}
.bin_phone{
    margin-left:16px;
}
.bin_message{
    width:436px;
    height:40px;
    margin:20px 0 0 6px;
    color:#d74c46;
    font-family: "times";
    border-bottom: 1px solid #d74c46;
    float: left;
}
.bin_message img{
    width:12px;
    height:12px;
}
.bin_input2{
    width:100%;
    height:14px;
    margin-top:2px;
    display: inline-block;
    background: none;
    border:none;
    outline:none;
    font-family: "宋体";
    color:#d7d7d7;
}
.bin_send{
    width:94px;
    height:26px;
    border:2px solid #7d7d7d;
    position: absolute;
    right:10px;
    text-align: center;
    line-height: 26px;
    bottom: 0;
    color:#7d7d7d;
    font-family: 'times';
    cursor:pointer;
}
.bin_send:hover{
    background: #d74c46;
    color:#fff;
}
.bin_mapbox{
    width:712px;
    height:140px;
    border:1px solid #7d7d7d;
    float: right;
    background: url(/index/images/bin_map.png);
    position: relative;
    margin-bottom: 16px;
}
.bin_mapcon{
    width:auto;
    height:50px;
    color:#fff;
    position: absolute;
    top:0;
    bottom: 0;
    left:100px;
    margin:auto;
}
/*.bin_cnmap{*/
/*font-family: "宋体";*/
/*}*/
.bin_enmap{
    font-family: "times";
    margin-top:8px;
    color:#bebebe;
}
.bin_conemail{
    width:260px;
    height:42px;
    float: right;
    padding-left: 68px;
    color:#fff;
    position: relative;
    font-family: "times";
}
.bin_conemail img{
    position: absolute;
    left:0;
}
.bin_conemail p{
    font-size: 12px;
    margin:4px 0;
}
.bin_conemail span{
    font-size: 14px;
}
