.classic-jby{
    width:100%;
    height:1133px;
    position:relative;
}
.classic-jby .classicin-jby{
    width:1200px;
    height:887px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.classic-jby .classicin-jby .topbox-jby{
    width:366px;
    height:109px;
    margin:0 auto;
}
.classic-jby .classicin-jby .botbox-jby{
    width:100%;
    height:652px;
    margin-top:60px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby{
    width:976px;
    height:100%;
    margin:0 auto;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby{
    width:100%;
    height:326px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .left-jby{
    width:488px;
    height:100%;
    float:left;
    overflow:hidden;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .left-jby img{
    transition:transform 1s ease;
    cursor:pointer;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .left-jby:hover img{
    transform: scale(1.2);
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby{
    width:488px;
    height:100%;
    float:left;
    padding-right:46px;
    padding-top:54px;
    border:1px solid #333;
    box-sizing:border-box;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightintop-jby{
    width:100%;
    height:64px;
    text-align: right;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightintop-jby .ritop-jby{
    color:#E71f1f;
    font-size:22px;
    font-family: "黑体";
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightintop-jby .ribot-jby{
    margin-top:12px;
    color: #161616;
    font-size:14px;
    font-family: "times";
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby{
    width:100%;
    height:150px;
    margin-top:36px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinle-jby{
    width:230px;
    height:100%;
    margin-top:-20px;
    float:left;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinri-jby{
    width:210px;
    height:100%;
    float:right;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinri-jby .btn-jby{
    width:42px;
    height:42px;
    float:right;
    margin-top:30px;
    border-radius: 50%;
    background: #d3d3d3;
    font-family: 'rightarrow';
    font-size:24px;
    text-align: center;
    line-height: 40px;
    color:#eee;
    cursor: pointer;
    transition:all .6s ease;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinri-jby:hover .btn-jby{
    color:#333;
    background:#E71f1f;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinri-jby .descri-jby{
    width:100%;
    height:40px;
    float:right;
    margin-top:30px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinri-jby .descri-jby .ritop-jby{
    text-align: right;
    color:#999;
    font-size:16px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innertop-jby .right-jby .rightinbott-jby .rightinri-jby .descri-jby .ribot-jby{
    text-align: right;
    color:#999;
    font-size:12px;
    font-family: 'times';
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby{
    width:100%;
    height:326px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby{
    width:489px;
    height:100%;
    float:left;
    border:1px solid #333;
    box-sizing:border-box;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leintop-jby{
    height:64px;
    padding-right:46px;
    padding-top:46px;
    text-align: right;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leintop-jby .ritop-jby{
    color:#E71f1f;
    font-size:22px;
    font-family: "黑体";
    margin-top:12px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leintop-jby .ribot-jby{
    color: #161616;
    font-size:14px;
    font-family: "times";
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leinbot-jby{
    width:100%;
    height:168px;
    padding-top:46px;
    padding-right:46px;
    text-align: right;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leinbot-jby .bigpic-jby{
    width:50%;
    height:100%;
    float:left;
    position:relative;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leinbot-jby .bigpic-jby img{
    width:400px;
    height:500px;
    position:absolute;
    bottom:-90px;
    left:-120px;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leinbot-jby .btnbox-jby{
    width:50%;
    height:100%;
    float:left;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leinbot-jby .btnbox-jby .btn-jby{
    display:block;
    width:42px;
    height:42px;
    border-radius: 50%;
    background: #d3d3d3;
    float:right;
    margin-top:86px;
    margin-right:46px;
    font-family: 'rightarrow';
    font-size:24px;
    text-align: center;
    line-height: 40px;
    color:#eee;
    cursor: pointer;
    transition:all .6s ease;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .left-jby .leinbot-jby .btnbox-jby:hover .btn-jby{
    background:#e71f1f;
    color:#333;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .right-jby{
    width:487px;
    height:100%;
    float:left;
    overflow:hidden;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .right-jby img{
    transition:transform 1s ease;
    cursor:pointer;
}
.classic-jby .classicin-jby .botbox-jby .inner-jby .innerbot-jby .right-jby:hover img{
    transform: scale(1.2);
}